# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/admin
public/icons-340c86422a77b89a9d06ce7cc1b1dff5
public/page-data
public/static
public/index.html
static/admin/*.bundle.*
.DS_Store
yarn-error.log
